<!DOCTYPE html>
<html lang="en" ng-app="devMtnApp">

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DevMtin</title>
	<link rel="stylesheet" href="style.css">
</head>

<body ng-controller="mainCTRL">
	<header>
		<div class="search">
			<button type="button" name="search">Search</button>
		</div>
		<div class="AppName">
			DevMountain
		</div>
		<div class="hamburger">
			<button type="button" name="hamburger">Menu</button>
		</div>
	</header>

<!-- two sections: userView and screenView
if there isn't a currUser obj on SVC then show newUser in userView else show currUser's info in userView->showUser

 -->

	<div class="userView">
		<div ng-show="!loggedIn" class="createUser">
				<p>Welcome to DevMountain Social<br />Add some info so friends can find you</p>
				<form class="newUser" name="frmNewUser"action="index.html" method="post">
					<input type="text" name="name" ng-model="name" value="" placeholder="Full Name" required>
					<input type="text" name="tagline" ng-model="tagline" value="" placeholder="Tagline" required>
					<input type="text" name="profileimg" ng-model="profileimg" value="" placeholder="Profile Image URL" required>
					<input type="text" name="bio" ng-model="bio" value="" placeholder="Bio" required>
					<button type="button" name="saveUser" ng-click="logIn(name,tagline,profileimg,bio)" ng-disabled="frmNewUser.name.$invalid || frmNewUser.tagline.$invalid || frmNewUser.url.$invalid || frmNewUser.bio.$invalid">Save Changes</button>
					<div class="loginError"></div>
				</form>
		</div>
		<div ng-show="loggedIn" class="showUser">
			<div class="UserName">{{viewUser.name}}</div>
			<div class="UserTag">{{viewUser.tagline}}</div>
			<div class="UserBio">{{viewUser.bio}}</div>
			<div class="AddFriend">TestAddFriendBTN</div>
		</div>
	</div>

	<div class="screenView">
		<div ng-show="triangles" class="triangles">
			Triangles - imgURL
		</div>
		<div ng-show="view" class="view">
			View
		</div>
		<div ng-show="find" class="find">
			<div class="find-toolbar">

			</div>
			<div class="userList">
				<div class="user" ng-repeat="user in users" ng-click="toggleUser(user.friendID)">
					{{user.name}}
					<button type="button" name="imabutton" ng-click="getUser(user.friendID)">load</button>
				</div>
			</div>
		</div>
		<div ng-show="update" class="update">
			Update
		</div>
	</div>



	<nav>
		<div class="footer">
			<div ng-class="{selected: view}" ng-click= "togglePage('view')" class="footer-item">
				View Friends
			</div>
			<div ng-class="{selected: find}" ng-click= "togglePage('find')" class="footer-item">
				Find Friends
			</div>
			<div ng-class="{selected: update}" ng-click= "togglePage('update')" class="footer-item">
				Update Profile
			</div>
		</div>
	</nav>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" charset="utf-8"></script>
	<script src="js/devMtn.js" charset="utf-8"></script>
	<script src="js/mainCTRL.js" charset="utf-8"></script>
	<script src="js/mainSVC.js" charset="utf-8"></script>
</body>
</html>
